## 1. importing pandas

In [1]:
import pandas as pd

## 2. opening a csv file

In [3]:
df = pd.read_csv('Data Science Jobs Salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S
...,...,...,...,...,...,...,...,...,...,...,...
240,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
241,2021e,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
242,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
243,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
244,2021e,SE,FT,Data Science Manager,7000000,INR,94917,IN,50,IN,L

## 3. opening a csv file from url

In [4]:
import requests
import pandas as pd
from io import StringIO
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
headers = {
    "User-Agent": "Mozilla/5.0"
}

req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 4 sep parameter

sep is default type thing in csv it is comma , sep is like seprate column on the basisc of that default

In [5]:
pd.read_csv('demo_mlexpec.tsv',sep='\t')

,"unit,sex,age,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,"YR,F,Y1,AL",:,79.4,80.4,80.2,79.7,79.8,79.2,79.8,79.6,...,:,:,:,:,:,:,:,:,:,:
1,"YR,F,Y1,AM",:,:,79.1,79.2,78.5,78.0,77.9,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"YR,F,Y1,AT",:,82.9,83.5,83.3,83.2,83.4,83.0,83.3,83.0,...,:,:,:,:,:,:,:,:,:,:
3,"YR,F,Y1,AZ",:,:,78.6,78.1,77.7,:,77.5,77.0,76.9,...,:,:,:,:,:,:,:,:,:,:
4,"YR,F,Y1,BE",:,82.3,83.6,83.2,83.2,83.2,82.6,83.1,82.5,...,74.4,74.3,74.7,74.4,74.3,74.6,73.9,74.0,74.5,73.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14443,"YR,T,Y_LT1,SM",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
14444,"YR,T,Y_LT1,TR",:,:,79.1,78.9,78.5,78.1,78.2,78.1,78.2,...,:,:,:,:,:,:,:,:,:,:
14445,"YR,T,Y_LT1,UA",:,:,73.4,73.2,73.3,72.9,72.5,71.8,:,...,:,:,:,:,:,:,:,:,:,:
14446,"YR,T,Y_LT1,UK",:,:,:,81.3,81.3,81.2,81.0,81.4,81.1,...,:,:,:,:,:,:,:,:,:,:
14447,"YR,T,Y_LT1,XK",:,:,:,:,:,78.6 p,:,:,:,...,:,:,:,:,:,:,:,:,:,:

## 5. index_col parameter

any column which is not useful for further analysis we can change that column into index

In [6]:
pd.read_csv('customer_churn_dataset.csv')

,customer_id,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
0,1,52,54.20,2818.40,Month-to-month,Credit,DSL,No,Yes,1,No
1,2,15,35.28,529.20,Month-to-month,Debit,DSL,No,No,2,No
2,3,72,78.24,5633.28,Month-to-month,Debit,DSL,No,No,0,No
3,4,61,80.24,4894.64,One year,Cash,Fiber,Yes,Yes,0,No
4,5,21,39.38,826.98,Month-to-month,UPI,Fiber,No,No,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19996,19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19997,19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19998,19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
19999,20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

In [7]:
pd.read_csv('customer_churn_dataset.csv',index_col='customer_id')

,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
customer_id,,,,,,,,,,
1,52,54.20,2818.40,Month-to-month,Credit,DSL,No,Yes,1,No
2,15,35.28,529.20,Month-to-month,Debit,DSL,No,No,2,No
3,72,78.24,5633.28,Month-to-month,Debit,DSL,No,No,0,No
4,61,80.24,4894.64,One year,Cash,Fiber,Yes,Yes,0,No
5,21,39.38,826.98,Month-to-month,UPI,Fiber,No,No,4,Yes
...,...,...,...,...,...,...,...,...,...,...
19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

## 6. Header parameter

when in csv file the header row is unnamed and hedear row is actually in first row of values

In [8]:
## example code pd.read_csv('nameof file',header=1)

## 7. use cols parameter

when we only need few column the we use this code

In [10]:
import pandas as pd

df = pd.read_csv(
    'customer_churn_dataset.csv',
    usecols=['customer_id', 'monthly_charges', 'total_charges', 'internet_service']
)

df.head()

   customer_id  monthly_charges  total_charges internet_service
0            1            54.20        2818.40              DSL
1            2            35.28         529.20              DSL
2            3            78.24        5633.28              DSL
3            4            80.24        4894.64            Fiber
4            5            39.38         826.98            Fiber

## 8.squeeze parameter

when only need one column it beacome panda series

In [14]:
import pandas as pd

df = pd.read_csv(
    'customer_churn_dataset.csv',
    usecols=['monthly_charges']
)

monthly_charges = df['monthly_charges']
monthly_charges

0         54.20
1         35.28
2         78.24
3         80.24
4         39.38
          ...
19995     69.51
19996     59.88
19997     42.96
19998    102.85
19999     44.84
Name: monthly_charges, Length: 20000, dtype: float64

## 9.skiprows/nrows parameter

when we need to skip some amount of rows

In [4]:
import pandas as pd
pd.read_csv('customer_churn_dataset.csv',skiprows=[1,2,3,4,5,6])

,customer_id,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
0,7,3,118.95,356.85,Month-to-month,Credit,DSL,No,No,2,Yes
1,8,22,44.33,975.26,Month-to-month,Debit,Fiber,Yes,Yes,0,No
2,9,53,103.82,5502.46,Month-to-month,UPI,Fiber,Yes,Yes,1,No
3,10,2,67.03,134.06,Two year,Credit,DSL,No,Yes,2,No
4,11,30,63.50,1905.00,One year,Cash,DSL,No,Yes,1,No
...,...,...,...,...,...,...,...,...,...,...,...
19989,19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19990,19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19991,19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19992,19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
19993,20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

## 10. encoding parameter

Encoding parameter = the rule or setting that decides how categorical data is converted into numbers.

In [1]:
## pd.read_csv('name',encoding='lanit-1{name of that encoding'})

## 11. skip bad lines

any row creationg error will remove

In [2]:
##import pandas as pd
##pd.read_csv('customer_churn_dataset.csv',sep=';',encoding='latin-1',error_bad_lines=False)

## 12.dtype parameter

changing data type which can be changed for betterment

In [5]:
##import pandas as pd
##pd.read_csv('customer_churn_dataset.csv',dtype{'monthly_charges':int})

## 13. handling dates

changing date formate from string/object to date

In [6]:
##import pandas as pd
##pd.read_csv('customer_churn_dataset.csv',parse_date=['date'])

## 14.convertors

In [16]:
import pandas as pd

def rename(name):
    if name == "credit":
        return "C"
    else:
        return name

df = pd.read_csv(
    'customer_churn_dataset.csv',
    converters={'payment_method': rename}
)
df

,customer_id,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
0,1,52,54.20,2818.40,Month-to-month,Credit,DSL,No,Yes,1,No
1,2,15,35.28,529.20,Month-to-month,Debit,DSL,No,No,2,No
2,3,72,78.24,5633.28,Month-to-month,Debit,DSL,No,No,0,No
3,4,61,80.24,4894.64,One year,Cash,Fiber,Yes,Yes,0,No
4,5,21,39.38,826.98,Month-to-month,UPI,Fiber,No,No,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19996,19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19997,19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19998,19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
19999,20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

## 15. na_value parameter

na_values specifies which values in the dataset should be recognized as missing data and converted to NaN during import.

In [17]:
pd.read_csv(
    'customer_churn_dataset.csv',
    na_values=['NA', 'N/A', 'null', ' ', '']
)

,customer_id,tenure,monthly_charges,total_charges,contract,payment_method,internet_service,tech_support,online_security,support_calls,churn
0,1,52,54.20,2818.40,Month-to-month,Credit,DSL,No,Yes,1,No
1,2,15,35.28,529.20,Month-to-month,Debit,DSL,No,No,2,No
2,3,72,78.24,5633.28,Month-to-month,Debit,DSL,No,No,0,No
3,4,61,80.24,4894.64,One year,Cash,Fiber,Yes,Yes,0,No
4,5,21,39.38,826.98,Month-to-month,UPI,Fiber,No,No,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,36,69.51,2502.36,Two year,Cash,DSL,No,Yes,0,Yes
19996,19997,10,59.88,598.80,Month-to-month,UPI,Fiber,Yes,No,1,No
19997,19998,6,42.96,257.76,Month-to-month,Credit,Fiber,No,No,2,No
19998,19999,7,102.85,719.95,Month-to-month,Debit,DSL,Yes,No,2,No
19999,20000,31,44.84,1390.04,Two year,Credit,Fiber,Yes,No,1,Yes

## 16. loading huge dataset in chunks

In [19]:
dfs = pd.read_csv('customer_churn_dataset.csv', chunksize=5000)

In [25]:
for chunk in dfs:
    print(chunk.shape)