## API

API (Application Programming Interface) is a way for one software to request data or services from another system in a structured format.

Your Code (Request)
        ↓
     API Server
        ↓
   JSON Response
        
Python → pandas DataFrame
API is like datapipeline

In [2]:
import requests

url = "https://api.themoviedb.org/3/movie/changes"
params = {
    "api_key": "8a2327bfb60bcf237edfab8e1436d1b7",
    "page": 1
}

response = requests.get(url, params=params)
print(response.status_code)
print(response.json())

200
{'results': [{'id': 1609329, 'adult': False}, {'id': 1609408, 'adult': False}, {'id': 1005776, 'adult': False}, {'id': 1571485, 'adult': False}, {'id': 1340770, 'adult': False}, {'id': 1609443, 'adult': False}, {'id': 1609412, 'adult': True}, {'id': 610275, 'adult': False}, {'id': 1234731, 'adult': False}, {'id': 267806, 'adult': False}, {'id': 1457993, 'adult': False}, {'id': 1473976, 'adult': False}, {'id': 1238577, 'adult': False}, {'id': 1547659, 'adult': False}, {'id': 1601107, 'adult': False}, {'id': 1567472, 'adult': False}, {'id': 1576174, 'adult': False}, {'id': 1587648, 'adult': False}, {'id': 1599078, 'adult': False}, {'id': 1599133, 'adult': False}, {'id': 1604051, 'adult': False}, {'id': 1606553, 'adult': False}, {'id': 1606555, 'adult': False}, {'id': 1607392, 'adult': False}, {'id': 1461294, 'adult': False}, {'id': 1593521, 'adult': False}, {'id': 1601735, 'adult': False}, {'id': 840464, 'adult': False}, {'id': 1595499, 'adult': False}, {'id': 1599059, 'adult': False}, {'id': 1603804, 'adult': True}, {'id': 1608810, 'adult': False}, {'id': 1527664, 'adult': False}, {'id': 1573153, 'adult': False}, {'id': 1609327, 'adult': False}, {'id': 1609164, 'adult': False}, {'id': 1609031, 'adult': False}, {'id': 1609035, 'adult': False}, {'id': 1609039, 'adult': False}, {'id': 1609131, 'adult': False}, {'id': 1609130, 'adult': False}, {'id': 1609306, 'adult': False}, {'id': 1608982, 'adult': False}, {'id': 1608879, 'adult': False}, {'id': 1608953, 'adult': False}, {'id': 786567, 'adult': False}, {'id': 1608921, 'adult': False}, {'id': 1579992, 'adult': False}, {'id': 1608416, 'adult': False}, {'id': 1575574, 'adult': False}, {'id': 896453, 'adult': False}, {'id': 159117, 'adult': False}, {'id': 1609441, 'adult': False}, {'id': 162877, 'adult': False}, {'id': 1190868, 'adult': False}, {'id': 1013052, 'adult': False}, {'id': 925685, 'adult': False}, {'id': 1368166, 'adult': False}, {'id': 632136, 'adult': False}, {'id': 74840, 'adult': False}, {'id': 1609445, 'adult': False}, {'id': 1609446, 'adult': False}, {'id': 77016, 'adult': False}, {'id': 10315, 'adult': False}, {'id': 1609430, 'adult': False}, {'id': 238636, 'adult': False}, {'id': 1205515, 'adult': False}, {'id': 1609440, 'adult': True}, {'id': 231401, 'adult': False}, {'id': 307172, 'adult': False}, {'id': 1609447, 'adult': False}, {'id': 769741, 'adult': False}, {'id': 286873, 'adult': False}, {'id': 937941, 'adult': False}, {'id': 1364835, 'adult': False}, {'id': 354251, 'adult': False}, {'id': 352684, 'adult': False}, {'id': 52936, 'adult': False}, {'id': 11590, 'adult': False}, {'id': 25, 'adult': False}, {'id': 286668, 'adult': False}, {'id': 994143, 'adult': False}, {'id': 376570, 'adult': False}, {'id': 227325, 'adult': False}, {'id': 1609448, 'adult': False}, {'id': 343278, 'adult': None}, {'id': 1255415, 'adult': False}, {'id': 1609449, 'adult': False}, {'id': 4550, 'adult': False}, {'id': 773, 'adult': False}, {'id': 1322722, 'adult': False}, {'id': 1154359, 'adult': False}, {'id': 1065661, 'adult': False}, {'id': 1471395, 'adult': False}, {'id': 20617, 'adult': False}, {'id': 858024, 'adult': False}, {'id': 7345, 'adult': False}, {'id': 1221645, 'adult': False}, {'id': 574137, 'adult': False}, {'id': 1507291, 'adult': False}], 'page': 1, 'total_pages': 71, 'total_results': 7013}

In [3]:
import pandas as pd
pd.DataFrame(response.json()['results'])

         id  adult
0   1609329  False
1   1609408  False
2   1005776  False
3   1571485  False
4   1340770  False
..      ...    ...
95   858024  False
96     7345  False
97  1221645  False
98   574137  False
99  1507291  False

[100 rows x 2 columns]