## 1. importing json file from device

In [1]:
import pandas as pd

In [2]:
pd.read_json('train.json')

                                                    data
0      {'id': '-901420293547303490', 'question': 'A 2...
1      {'id': '-4756896990963599325', 'question': 'A ...
2      {'id': '4342338685758192047', 'question': 'A m...
3      {'id': '-9093028897780852688', 'question': 'A ...
4      {'id': '-6746978265822130164', 'question': 'A ...
...                                                  ...
10173  {'id': '3704706846885351592', 'question': 'A 6...
10174  {'id': '-6551737997049886475', 'question': 'A ...
10175  {'id': '-2422696018345570768', 'question': 'Af...
10176  {'id': '-3258186143678189179', 'question': 'A ...
10177  {'id': '6085166139535568715', 'question': 'A 2...

[10178 rows x 1 columns]

## 2. import json from url

In [4]:
import requests
import pandas as pd

# Public API that returns JSON
url = "https://jsonplaceholder.typicode.com/users"

response = requests.get(url)

# Check response
print(response.status_code)   # should be 200

# Convert JSON to Python object
data = response.json()

# Convert to DataFrame
df = pd.json_normalize(data)

df.head()

200

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

## working with SQL

MySQL (XAMPP)
     ↓
pandas.read_sql()
     ↓
Data Cleaning & EDA
     ↓
Feature Engineering
     ↓
ML Model

In [ ]:
# STEP 1: Import required libraries
import pandas as pd
from sqlalchemy import create_engine

# STEP 2: Create MySQL connection (XAMPP default settings)
# username: root
# password: empty
# host: localhost
# port: 3306
# database: replace with your database name

engine = create_engine(
    "mysql+pymysql://root:@localhost:3306/your_database_name"
)

# STEP 3: Read SQL table into pandas DataFrame
df = pd.read_sql("SELECT * FROM your_table_name", engine)

# View first few rows
print(df.head())

# STEP 4: Run a custom SQL query
query = """
SELECT *
FROM your_table_name
LIMIT 10
"""
df_query = pd.read_sql(query, engine)
print(df_query)

# STEP 5: Write DataFrame back to MySQL (optional)
df.to_sql(
    name="new_table_name",
    con=engine,
    if_exists="replace",   # use "append" to add rows
    index=False
)

print("SQL connection and data transfer successful!")